<div class="main flex flex-col justify-center">
  <div
    class="container mx-auto w-5/6 sm:w-auto md:w-full lg:w-1/2 xl:w-2/5 shadow-xl"
  >
    <div class="part-1 rounded-t-md p-12 bg-white">
      <div class="part-1-title font-bold mb-10">
        <p class="sm:text-xl md:text-2xl xl:text-4xl lg:text-4xl">Join our comunity</p>
      </div>
      <div class="part-1-benifit font-bold mb-8">
        <p>30-day, hassle-free money back guarantee</p>
      </div>
      <div class="part-1-des">
        <p>
          Gain access to our full library of tutorials along with expert code
          reviews. Perfect for any developers who are serious about honing their
          skills.
        </p>
      </div>
    </div>
    <div
      class="card-bottom flex flex-col sm:flex-col md:flex-row lg:flex-row xl:flex-row"
    >
      <div class="part-2 p-12 w-full sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2">
        <div class="part-2-title mb-8">
          <p class="font-bold">Monthly Subscription</p>
        </div>
        <div class="part-2-price-tag mb-2">
          <div class="price flex items-center">
            <p class="amount mr-4 font-bold">$29</p>
            <p class="unit">per month</p>
          </div>
        </div>
        <div class="price-des mb-10">
          <p>Full access for less than $1 a day</p>
        </div>
        <div class="price-btn">
          <button class="btn btn-green shadow w-full h-20 text-2xl">Sign Up</button>
        </div>
      </div>
      <div class="part-3 p-12 w-full sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2">
        <div class="part-3-title mb-10">
          <p class="font-bold">Why Us</p>
        </div>
        <div class="part-3-des w-4/5">
          <p>
            Tutorials by industry experts Peer & expert code review Coding
            exercises Access to our GitHub repos Community forum Flashcard decks
            New videos every week
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
